<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CourtKing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67ABFCBD1DC83B5900B9B77F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67ABFCD41DC83B5900B9B77F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67ABFCDF1DC83B5900B9B77F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
